<div class="row">
  <div class="col-md-6">
    <a routerLink = '/' class="btn btn-link"><i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard</a>
  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a [routerLink]="['/edit-client/'+id]" class="btn btn-secondary">Edit</a>
      <button type="button" class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>
      
  </div>
</div>
<hr>
<!-- Display all the clients with information -->
<div *ngIf="client" class="card">
  <h3 class="card-header">{{client.firstName}} {{client.lastName}}</h3>
  <div class="card-block">
    <div class="row">
      <div class="col-md-8">
        <h4>Client ID: {{id}}</h4>
      </div>
      <div class="col-md-4">
       <h3 class="pull-right"> 
         <span [class.text-danger]="hasBalance"
              [class.text.success]="!hasBalance">
              {{client.balance | currency: "USD": true}}
         </span>
         <small>
           <a (click)="showBalanceUpdateInput = !showBalanceUpdateInput"><i class="fa fa-pencil"></i></a>
         </small>
         
        </h3>
        <div class="clearfix">
          <form *ngIf="showBalanceUpdateInput" (submit)="updateBalance(id)" class="form-inline pull-right">
            <div class="form-group">
              <input type="text" class="form-control" name="balance" [(ngModel)]="client.balance">

            </div>
            <button class="btn btn-primary" type="submit">Update</button>
          </form>
         

        </div>
          
      </div>
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Contact Email: {{client.email}}</li>
      <li class="list-group-item">Contact Phone: {{client.phone}}</li>

    </ul>
  </div>

</div>