<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse ">
    <div class="container">
        
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ClientManagementSystem</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="#" routerLink="/">Dashboard</a>
        </li> 
      </ul>

      <ul class="navbar-nav ml-auto">
          <li class="nav-item" *ngIf="!isLoggedIn && showRegister">
              <a class="nav-link" href="#" routerLink="/register">Register</a>
            </li>
          <li class="nav-item" *ngIf="!isLoggedIn && showRegister">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li> 
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#">{{loggedInUser}}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
              <a class="nav-link" href="#" routerLink="/settings">Settings</a>
            </li> 

          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
          </li> 
        </ul>
      
    </div>
  </div>
  </nav>
<br><br>